<%= form_for([@article, @article.comments.build]) do |f| %>
	<p class="form-group">
		<%= f.label :commenter %><br>
		<%= f.text_field :commenter, class:"form-control" %>
	</p>
	<p class="form-group">
		<%= f.label :body %><br>
		<%= f.text_area :body, class: "form-control" %>
	</p>
	<p class="form-group"> 
	<%= f.submit class: "btn btn-primary" %>		
	</p>
<% end %>